* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px 156px;
  max-width: 1440px;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.gallery-image:hover {
  transform: scale(1.04);
}
